{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-imports"
  ],
  "tailwindConfig": "./tailwind.config.js",
  "tailwindAttributes": ["tw"],
  "tailwindFunctions": ["tw"],
  "tailwindDirective": "tw",
  "tailwindClassNames": ["tw"],
  "usePrettierrc": true
}
